## Data exploration

In [1]:
import warnings
warnings.filterwarnings("ignore")

from pathlib import Path
from eda import DataLoader
from IPython.display import display

project_root_path = Path.cwd().parent

In [5]:

data_loader = DataLoader(project_root_path / "kaggle/input/stanford-rna-3d-folding")
data_loader.load_data()
all_data = data_loader.data

In [7]:
for key, df in all_data.items():
    print(f"File name: {key}, shape: {df.shape}")
    # display(df.head(3))

File name: train_labels, shape: (137095, 6)
File name: validation_sequences, shape: (12, 5)
File name: train_sequences, shape: (844, 5)
File name: test_sequences, shape: (12, 5)
File name: sample_submission, shape: (2515, 18)
File name: validation_labels, shape: (2515, 123)

## train

In [36]:
# For test_sequences.csv, sequence is guaranteed to be a string of A, C, G, and U
df = all_data['train_sequences']
df[df['target_id'] == "1SCL_A"]

  target_id  ...                                      all_sequences
0    1SCL_A  ...  >1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...

[1 rows x 5 columns]

In [37]:
# resname - (character) The RNA nucleotide ( A, C, G, or U) for the residue.
# ID [0,1,2] would be meaningful?

df = all_data['train_labels']
df[df['ID'].str.contains("1SCL_A")]
# df

           ID resname  resid     x_1        y_1     z_1
0    1SCL_A_1       G      1  13.760 -25.974001   0.102
1    1SCL_A_2       G      2   9.310 -29.638000   2.669
2    1SCL_A_3       G      3   5.529 -27.813000   5.878
3    1SCL_A_4       U      4   2.678 -24.900999   9.793
4    1SCL_A_5       G      5   1.827 -20.136000  11.793
5    1SCL_A_6       C      6   2.040 -14.908000  11.771
6    1SCL_A_7       U      7   1.107 -11.513000   7.517
7    1SCL_A_8       C      8   2.991  -6.406000   4.783
8    1SCL_A_9       A      9   0.896  -1.193000   7.608
9   1SCL_A_10       G     10   0.228   2.646000   9.128
10  1SCL_A_11       U     11   4.329   2.718000   4.804
11  1SCL_A_12       A     12   5.165   4.792000  -0.914
12  1SCL_A_13       C     13   2.610   9.495000  -2.308
13  1SCL_A_14       G     14   1.174  13.829000   0.201
14  1SCL_A_15       A     15   1.580  20.115000   3.760
15  1SCL_A_16       G     16  -1.575  16.927999   5.897
16  1SCL_A_17       A     17  -6.051  14.762000   5.224
17  1SCL_A_18       G     18  -5.554  10.415000   4.309
18  1SCL_A_19       G     19  -3.107   6.405000   2.120
19  1SCL_A_20       A     20  -1.410   3.335000  -2.655
20  1SCL_A_21       A     21   1.866  -0.716000  -4.333
21  1SCL_A_22       C     22   3.655  -4.444000  -2.485
22  1SCL_A_23       C     23   5.314  -7.656000   1.130
23  1SCL_A_24       G     24   7.931  -9.528000   5.781
24  1SCL_A_25       C     25   8.735 -12.648000  10.025
25  1SCL_A_26       A     26   9.108 -17.296000  13.021
26  1SCL_A_27       C     27   8.897 -22.606001  14.308
27  1SCL_A_28       C     28   9.673 -28.337999  13.292
28  1SCL_A_29       C     29  12.641 -30.907000   9.645

In [32]:
all_data['validation_labels'].head(3)

        ID resname  resid  ...          x_40          y_40          z_40
0  R1107_1       G      1  ... -1.000000e+18 -1.000000e+18 -1.000000e+18
1  R1107_2       G      2  ... -1.000000e+18 -1.000000e+18 -1.000000e+18
2  R1107_3       G      3  ... -1.000000e+18 -1.000000e+18 -1.000000e+18

[3 rows x 123 columns]

In [33]:
all_data['validation_sequences'].head(3)

  target_id  ...                                      all_sequences
0     R1107  ...  >7QR4_1|Chain A|U1 small nuclear ribonucleopro...
1     R1108  ...  >7QR3_1|Chains A, B|U1 small nuclear ribonucle...
2     R1116  ...  >8S95_1|Chain A[auth C]|Lysine tRNA scaffold,P...

[3 rows x 5 columns]